<div class="header col-xs-12">
    <h2>Type hoogspanningsverbinding</h2>
    <figure class="col-xs-3">
        <a href="#/hspl">
            <img ng-src="images/lijn.png" class="img-responsive" width="150" height="150" />
            <figcaption>HSP-lijn (hoogspanningslijn)</figcaption>
        </a>
    </figure>
    <figure class="col-xs-3">
        <a href="#/hspk">
            <img ng-src="images/kabel.png" class="img-responsive" width="150" height="150" />
            <figcaption>HSP-kabel (hoogspanningskabel)</figcaption>
        </a>
    </figure>
    <figure class="col-xs-3">
        <a href="#/hsps">
            <img ng-src="images/station.png" class="img-responsive" width="150" height="150" />
            <figcaption>HSP-station (hoogspanningsstation)</figcaption>
        </a>
    </figure>
    <figure class="col-xs-3">
        <a href="#/tev">
            <img ng-src="images/tevsysteem.png" class="img-responsive" width="150" height="150" />
            <figcaption>TEV-systeem (tractie-energievoorziening)</figcaption>
        </a>
    </figure>
</div>