<div class="header col-xs-12">
    <div class="page-header">
        <h1>Type hoogspanningsverbinding</h1>
    </div>
    <div class="row">
        <figure class="col-xs-6">
            <a href="#/hspl">
                <img ng-src="images/lijn.png" class="img-responsive img-rounded" />
                <figcaption>HSP-lijn (hoogspanningslijn)</figcaption>
            </a>
        </figure>
        <figure class="col-xs-6">
            <a href="#/hspk">
                <img ng-src="images/kabel.png" class="img-responsive img-rounded" />
                <figcaption>HSP-kabel (hoogspanningskabel)</figcaption>
            </a>
        </figure>
    </div>
    <div class="row">
        <figure class="col-xs-6">
            <a href="#/hsps">
                <img ng-src="images/station.png" class="img-responsive img-rounded" />
                <figcaption>HSP-station (hoogspanningsstation)</figcaption>
            </a>
        </figure>
        <figure class="col-xs-6">
            <a href="#/tev">
                <img ng-src="images/tevsysteem.png" class="img-responsive img-rounded" />
                <figcaption>TEV-systeem (tractie-energievoorziening)</figcaption>
            </a>
        </figure>
    </div>
</div>