<div class="form-group">
    <label class="control-label">Leiding ge&iuml;soleerd opgesteld</label>
    <select class="form-control" ng-model="hspk.leidinggeisoleerd" ng-options="y.text for (x, y) in hspk.isolatie" disabled></select>
</div>
<div class="form-group"">
    <label class="control-label">Hart op hart afstand (m)</label>
    <input type="number" class="form-control" placeholder="afstand (m)" ng-model="hspk.hartophart" name="hspkhoph" readonly/>
</div>
<div class="form-group" ng-class="{ 'has-error': hspkForm.afstandtotaarding.$invalid }">
    <label class="control-label">Afstand tot aarding kabelsysteem (m)</label>
    <input type="number" class="form-control" placeholder="afstand (m)" name="afstandtotaarding" ng-model="hspk.afstandtotaarding" required/>
</div>