<div>
    <h1>Uitvoer</h1>
    <ul>
        <li>Capacitieve be&iuml;nvloeding:
            <span ng-show="hspk.capacitieveBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspk.capacitieveBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspk.capacitieveToelichting"></p>
        </li>
        <li>Weerstandsbe&iuml;nvloeding:
            <span ng-show="hspk.weerstandsBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspk.weerstandsBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspk.weerstandsToelichting"></p>
        </li>
        <li>Inductieve be&iuml;nvloeding:
            <span ng-show="hspk.inductieveBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspk.inductieveBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspk.inductieveToelichting"></p>
        </li>
        <li>Thermische be&iuml;nvloeding:
            <span ng-show="hspk.thermischeBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspk.thermischeBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspk.thermischeToelichting"></p>
        </li>
        <li>Mechanische be&iuml;nvloeding:
            <span ng-show="hspk.mechanischeBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspk.mechanischeBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspk.mechanischeToelichting"></p>
        </li>
    </ul>
</div>