<div>
    <h1>Uitvoer</h1>
    <ul>
        <li>Capacitieve be&iuml;nvloeding:
            <span ng-show="hspl.hsplVariables.capacitievebeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspl.hsplVariables.capacitievebeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspl.capacitieveToelichting"></p>
        </li>
        <li>Weerstandsbe&iuml;nvloeding:
            <span ng-show="hspl.hsplVariables.weerstandsbeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspl.hsplVariables.weerstandsbeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspl.weerstandsToelichting"></p>
        </li>
        <li>Inductieve be&iuml;nvloeding:
            <span ng-show="hspl.hsplVariables.inductievebeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspl.hsplVariables.inductievebeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspl.inductieveToelichting"></p>
        </li>
        <li>Thermische be&iuml;nvloeding:
            <span ng-show="hspl.hsplVariables.thermischebeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspl.hsplVariables.thermischebeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspl.thermischeToelichting"></p>
        </li>
        <li>Mechanische be&iuml;nvloeding:
            <span ng-show="hspl.hsplVariables.mechanischebeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hspl.hsplVariables.mechanischebeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hspl.mechanischeToelichting"></p>
        </li>
    </ul>
</div>