<div class="form-group">
    <label class="control-label col-xs-6">Afstand tot mast</label>
    <div class="col-xs-6">
        <input type="number" class="form-control" placeholder="Afstand (m)" ng-model="hspl.afstandTotMast">
    </div>
</div>
<div ng-show="hspl.selectedMastbeeld" class="col-xs-8 col-xs-offset-2">
    <img ng-src="{{hspl.selectedMastbeeld.imagesrc}}" class="img-responsive" width="300">
</div>
<div class="col-xs-12">
    <button type="button" class="btn btn-default" ng-click="hspl.open()">Selecteer Mast</button>
</div>