<div class="form-group">
    <label class="control-label">Leiding ge&iuml;soleerd opgesteld</label>
    <select class="form-control" ng-model="hspl.leidinggeisoleerd" ng-options="y.text for (x, y) in hspl.isolatie" disabled></select>
</div>
<div class="form-group">
    <label class="control-label">Hart op hart afstand (m)</label>
    <input type="number" class="form-control" placeholder="afstand (m)" name="hartafstand" ng-model="hspl.hartafstand" readonly/>
</div>

<div class="form-group" ng-class="{ 'has-error': hsplForm.mastafstand.$invalid }">
    <label class="control-label">Afstand tot mast (m)</label>
    <input type="number" class="form-control" name="mastafstand" placeholder="Afstand (m)" ng-model="hspl.afstandTotMast" required >
</div>
<div class="form-group" ng-class="{ 'has-error': !hspl.selectedMastbeeld }">
   <div ng-show="hspl.selectedMastbeeld">
       <img ng-src="{{hspl.selectedMastbeeld.imagesrc}}" class="img-responsive" width="300">
   </div>
    <button type="button" class="form-control btn btn-default" ng-click="hspl.open()">Selecteer Mast</button>
</div>