<div class="form-group">
    <label class="control-label col-xs-6">Afstand tot hekwerk HSP station</label>
    <div class="col-xs-6">
        <input type="number" class="form-control" placeholder="Afstand (m)" ng-model="hsps.afstandtothekwerk">
    </div>
    <label class="control-label col-xs-6">Afstand langste parallelle zijde van het HSP station</label>
    <div class="col-xs-6">
        <input type="number" class="form-control" placeholder="Afstand (m)" ng-model="hsps.parallelloop">
    </div>
</div>