<div class="header col-xs-12">
    <div class="modal-header">
        <figure>
            <figcaption>HSP-station</figcaption>
            <img ng-src="images/station.png" class="img-responsive" width="50" height="50" />
        </figure>
    </div>
    <div class="modal-body">
        <form name="hspsForm" class="form-horizontal" novalidate>
            <div id="wizard-content-container">
                <ng-include src="hsps.getStepTemplate()"></ng-include>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <span class="btn-group">
                <button class="btn btn-default" ng-disabled="hsps.currentStep === '1'" name="previous" type="button" ng-click="hsps.getPreviousStepTemplate()"><i class="fa fa-arrow-left"></i> Vorige</button>
                <button class="btn btn-primary" ng-disabled="!hspsForm.$valid || hsps.currentStep === '9'" name="next" type="button" ng-click="hsps.evaluateStep()">Volgende <i class="fa fa-arrow-right"></i></button>
            </span>
        </div>
    </div>
</div>