<div class="form-group">
    <label class="control-label">Leiding ge&iuml;soleerd opgesteld</label>
    <select class="form-control" ng-model="hsps.leidinggeisoleerd" ng-options="y.text for (x, y) in hsps.isolatie" disabled></select>
</div>
<div class="form-group" ng-class="{ 'has-error': hspsForm.afstandhekwerk.$invalid }">
    <label class="control-label">Afstand tot hekwerk (m)</label>
    <input type="number" class="form-control" placeholder="afstand (m)" name="afstandhekwerk" ng-model="hsps.afstandtothekwerk" required/>
</div>