<div class="header col-xs-12">
    <h2>HSP-station (hoogspanningsstation)</h2>
    <figure class="col-xs-4 col-xs-offset-4">
        <img ng-src="images/station.png" class="img-responsive" width="150" height="150" />
    </figure>
    {{hspk.error}}
    <div>
        <div id="wizard-content-container">
            <ng-include src="hsps.getStepTemplate()"></ng-include>
        </div>
        <div class="pull-right">
            <span class="btn-group">
                <button class="btn btn-default" ng-disabled="hsps.currentStep === '1'" name="previous" type="button" ng-click="hsps.getPreviousStepTemplate()"><i class="fa fa-arrow-left"></i> Vorige</button>
                <button class="btn btn-primary" ng-disabled="hsps.currentStep === '9'" name="next" type="button" ng-click="hsps.evaluateStep()">Volgende <i class="fa fa-arrow-right"></i></button>
            </span>
        </div>
    </div>
</div>