<div>
    <h1>Uitvoer</h1>
    <ul>
        <li>Capacitieve be&iuml;nvloeding:
            <span ng-show="hsps.capacitieveBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hsps.capacitieveBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hsps.capacitieveToelichting"></p>
        </li>
        <li>Weerstandsbe&iuml;nvloeding:
            <span ng-show="hsps.weerstandsBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hsps.weerstandsBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hsps.weerstandsToelichting"></p>
        </li>
        <li>Inductieve be&iuml;nvloeding:
            <span ng-show="hsps.inductieveBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hsps.inductieveBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hsps.inductieveToelichting"></p>
        </li>
        <li>Thermische be&iuml;nvloeding:
            <span ng-show="hsps.thermischeBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hsps.thermischeBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hsps.thermischeToelichting"></p>
        </li>
        <li>Mechanische be&iuml;nvloeding:
            <span ng-show="hsps.mechanischeBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="hsps.mechanischeBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="hsps.mechanischeToelichting"></p>
        </li>
    </ul>
</div>