<div class="modal-header">
    <button class="btn btn-primary" type="button" ng-click="inst.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="inst.cancel()">Cancel</button>
</div>
<div class="modal-body row">
    <div class="col-xs-12" ng-repeat="mastbeeld in inst.items">
        <div class="col-xs-8">
            <img ng-src="{{mastbeeld.imagesrc}}" class="img-responsive"  width="300" ng-click="inst.selected.item = mastbeeld; inst.ok()" />
        </div>

        <div class="col-xs-4 ">
            <p><small>
                Geometrie: {{mastbeeld.geometrie}} <br>
                Code: {{mastbeeld.code}} <br>
                Spanning: {{mastbeeld.spanning}} <br>
                Hoogte: {{mastbeeld.hoogte}} <br>
                K1 Normaal: {{mastbeeld.k1.normaal}} <br>
                K2 Normaal: {{mastbeeld.k2.normaal}} <br>
                K1 Corrosie: {{mastbeeld.k1.corrosie}} <br>
                K2 Corrosie: {{mastbeeld.k2.corrosie}} <br>
                K1 Eenfasekortsluiting: {{mastbeeld.k1.eenfasekortsluiting}} <br>
                K2 Eenfasekortsluiting: {{mastbeeld.k2.eenfasekortsluiting}} <br>
                K1 Onderhoud: {{mastbeeld.k1.onderhoud}} <br>
                K1 Onderhoud: {{mastbeeld.k2.onderhoud}} <br>
          </small></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="inst.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="inst.cancel()">Cancel</button>
</div>