<div>
    <h1>Uitvoer</h1>
    <ul>
        <li>Capacitieve be&iuml;nvloeding:
            <span ng-show="tev.capacitieveBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="tev.capacitieveBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="tev.capacitieveToelichting"></p>
        </li>
        <li>Weerstandsbe&iuml;nvloeding:
            <span ng-show="tev.weerstandsBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="tev.weerstandsBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="tev.weerstandsToelichting"></p>
        </li>
        <li>Inductieve be&iuml;nvloeding:
            <span ng-show="tev.inductieveBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="tev.inductieveBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="tev.inductieveToelichting"></p>
        </li>
        <li>Thermische be&iuml;nvloeding:
            <span ng-show="tev.thermischeBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="tev.thermischeBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="tev.thermischeToelichting"></p>
        </li>
        <li>Mechanische be&iuml;nvloeding:
            <span ng-show="tev.mechanischeBeinvloeding" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-hide="tev.mechanischeBeinvloeding" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <p ng-bind-html="tev.mechanischeToelichting"></p>
        </li>
    </ul>
</div>