<div class="form-group">
    <label class="control-label">Leiding ge&iuml;soleerd opgesteld</label>
    <select class="form-control" ng-model="tev.leidinggeisoleerd" ng-options="y.text for (x, y) in tev.isolatie" disabled></select>
</div>
<div class="form-group">
    <label class="control-label">Hart op hart buitenste spoor (m)</label>
    <input type="number" class="form-control" placeholder="afstand (m)" name="hartophart" ng-model="tev.hartophart" readonly>
</div>
<div class="form-group" ng-class="{ 'has-error': tevForm.parallelloop.$invalid }">
    <label class="control-label">Parallelloop (km)</label>
    <input type="number" class="form-control" placeholder="afstand (km)" name="parallelloop" ng-model="tev.parallelloop" required>
</div>
<div class="form-group">
    <label class="control-label">Type TEV</label>
    <select class="form-control" name="typetev" ng-model="tev.tevsysteem" ng-options="tevsysteem.name for tevsysteem in tev.tevsystemen"></select>
</div>